[submodule "spec"]
	path = spec
	url = https://github.com/open-telemetry/opentelemetry-specification.git
[submodule "opentelemetry-proto"]
	path = opentelemetry-proto
	url = https://github.com/open-telemetry/opentelemetry-proto.git
